﻿<!DOCTYPE html>
<html>
<head>
    @await RenderSectionAsync("Styles", required: false)
<!-- import CSS -->
@*<link rel="stylesheet" href="~/dist/bundle.css" />*@
@*<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">*@
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
<!-- import JavaScript -->
@*
<script src="~/dist/bundle.js"></script>
*@
</head>
<body>
<div id="flexy">
    @RenderBody()
</div>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

    html {
        background: #181C1F !important;
    }

    body {
        display: block;
        margin: 0px !important;
        background-color: #181C1F;
        height: 100%;
        font-family: Cabin !important;
    }
</style>