@page
@model Flexy.API.Pages.IndexModel
@{
    ViewData["Title"] = "Flexy Dashboard";
}

@section Scripts {
    <script src="~/dist/app_index.js"></script>
}

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<div id="app" class="app">
    <rheader></rheader>
    <left-aside></left-aside>
    <div class="common">
        <div style="padding:10px">
            <router-view></router-view>
        </div>
    </div>
</div>


<style>
  .app {
      
  }
  
  .f1 {
    font-family: Cabin;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  }

  .f2 {
    font-family: Cabin;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #E2B988;
  }

  .common {
    padding-top: 100px;
    padding-left: 256px;
  }
  .top {
    display:flex;
    justify-content: start; 
  }

  .center {
    display:flex;
    justify-content: start; 
    padding-top:10px;
  }

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

@@media screen and (max-width: 900px) {
  .common {
      display: block;
  }
}

</style>